:root {
  --lightblue: #01d8f9;
  --darkblue: #0d0036;
  --gray-100: #9a9898;
  --gray-200: #544f52;
  --gray-300: #1c1a18;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
  color: var(--darkblue);
}

h2 {
  font-size: 1.375rem;
  margin-bottom: 1.875rem;
}

h3 {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
}

figcaption {
  visibility: hidden;
}

/* modular */
.flex {
  display: flex;
  flex-wrap: nowrap;
}
.flex-colunm {
  flex-direction: column;
}
.flex-center-v {
  justify-content: center;
}
.flex-center-h {
  align-items: center;
}
.flex-space-between {
  justify-content: space-between;
}

.container {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.nav-contato li {
  margin-bottom: 0.625rem;
}

.nav-contato li a {
  font-weight: 300;
  color: var(--darkblue);
}

.nav-contato li::before {
  content: "E-mail: ";
  font-weight: 800;
  color: var(--darkblue);
}

.nav-contato li:nth-child(2):before {
  content: "Telefone: ";
}

.nav-contato li:nth-child(3):before {
  content: "Endereço: ";
}

/* _____________ header _______________________ */

header {
  padding-top: 2.5rem;
  background-color: var(--lightblue);
}

header .container {
  background-color: var(--white);
}

header .container .header__img {
  width: 30%;
}

header .header__descricao {
  width: 70%;
  margin-left: 2.5rem;
}

header .container .header__img img {
  vertical-align: top;
  width: 100%;
  max-width: 15.625rem;
  border-radius: 50%;
}

header .header__descricao p {
  color: var(--gray-100);
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

header .header__descricao .nav-contato li a {
  font-size: 1.125rem;
}

/* _____________ main _______________________ */
main section ul li {
  font-size: 1.125rem;
  margin-bottom: 1.5625rem;
}
/* _____________ footer _______________________ */
footer {
  padding: 2.5rem 1.25rem;
  background-color: var(--darkblue);
}

footer .nav__footer,
footer .nav__social {
  max-width: 62.5rem;
  margin: 0 auto;
}

footer .nav__footer {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #fff;
}

.nav__footer .nav-contato li a {
  color: var(--white);
}

.nav__footer .nav-contato li::before {
  color: var(--white);
}

footer .nav__social {
  margin-top: 1.25rem;
  text-align: center;
}

footer .nav__social li {
  display: inline-block;
  text-align: center;
}

footer .nav__social li a {
  display: block;
  padding: 0.625rem;
  font-weight: 300;
  color: var(--white);
}
