/*
--------------------------------------------
ESTRUTURA BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIAVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/

/*  ----- DECLARAÇÃO DE VARIAVEIS ----- */

:root {
  --blue-100: #d4e9ff;
  --blue-200: #45dbfc;
  --blue-300: #0a78fa;
  --blue-400: #04133d;

  --white: #fff;
  --black: #000;

  --txtWhite: #fff;
  --txtBlack: #000;

  --gray-200: #636363;

  --white-20: rgba(255, 255, 255, 0.2);
  --flyerbox: 0 0 20px 5px rgb(0, 0, 0, 0.15);
}

/*  ----- ESTILOS GERAIS ----- */

html,
body,
figure,
img,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.col {
  flex-basis: 49%;
}

.hidden {
  display: none;
  font-weight: ;
}

/*  ----- BODY ----- */

body {
  font-family: "Open Sans", sans-serif;
}

/*  ----- HEADER ----- */

header {
  padding: 1.875rem 1.875rem 0;
  background-color: var(--blue-200);
}
header .container {
  background-color: var(--white);
}
header .row {
  align-items: center;
}
header .col__left {
  flex-basis: 30%;
}
header .col__right {
  flex-basis: 60%;
  text-align: center;
  overflow: auto;
}
header .col img {
  width: 100%;
  vertical-align: top;
}
header .col h1 {
  font-size: 1.5rem;
  color: var(--txtBlack);
}
header .col p {
  margin-bottom: 1rem;
  color: var(--gray-200);
}
header .col ul {
  margin-top: 1rem;
}
header .col ul li {
  margin-bottom: 0.75rem;
  color: var(--txtBlack);
}
header .col ul li a {
  font-size: 1rem;
  color: var(--txtBlack);
}

header .col ul li a::before {
  content: "";
  font-size: 1rem;
  font-weight: 600;
}

header .col ul li:nth-child(1) a::before {
  content: "E-mail: ";
}
header .col ul li:nth-child(2) a::before {
  content: "Telefone: ";
}
header .col ul li:nth-child(3) a::before {
  content: "Endereço: ";
}
/*  ----- FOOTER ----- */

footer {
  background-color: var(--blue-400);
}
footer .container {
  padding: 1.25rem;
}
footer nav ul li {
  margin-bottom: 15px;
}
footer nav ul li a {
  font-size: 1rem;
  color: var(--txtWhite);
}
footer nav .info__contato li a::before {
  content: "";
  font-size: 1rem;
  font-weight: 600;
}

footer nav .info__contato li:nth-child(1) a::before {
  content: "E-mail: ";
}
footer nav .info__contato li:nth-child(2) a::before {
  content: "Telefone: ";
}
footer nav .info__contato li:nth-child(3) a::before {
  content: "Endereço: ";
}
footer nav .info__social {
  text-align: center;
  padding: 50px 0 0;
  margin: 20px 0 50px;
  border-top: 1px solid var(--white-20);
}
footer nav .info__social li {
  text-align: center;
  margin: 15px 28px;
  display: inline-block;
}
footer nav .info__social li a img {
  max-width: 40px;
}

/*  ----- PÁGINA INICIAL ----- */
main .col {
  padding: 1.25rem;
}
main .col section {
  min-height: 9.025rem;
  margin-bottom: 1.25rem;
  color: var(--txtBlack);
  border-bottom: 1px solid var(--blue-100);
}
main .col section h2 {
  font-size: 1.3rem;
  margin-bottom: 0.9375rem;
}
main .col section p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--gray-200);
}
main .col section ul li {
  margin-bottom: 0.75rem;
}
main .col section ul li h3 {
  font-size: 1.1rem;
}
main .col section ul li strong {
  display: inline-block;
  margin: 0.3125rem 0 0.625rem;
  font-size: 0.9rem;
  font-weight: 500;
}
/*  ----- EXTRAS ----- */

.switch {
  width: 3rem;
  height: 1.5rem;
  position: absolute;
  top: 50px;
  right: 70px;
  background-color: var(--blue-300);
  border-radius: 2rem;
  border: 3px solid white;
  box-shadow: var(--flyerbox);
  transition: background-color 0.2s ease-in-out;
}

.switch::before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.btn__darkMode:checked ~ .switch {
  background-color: var(--blue-400);
}
.btn__darkMode:checked ~ .switch::before {
  transform: translateX(23px);
}

.btn__darkMode {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.btn__darkMode:checked ~ .darkMode {
  --blue-100: #d4e9ff;
  --blue-200: #45dbfc;
  --blue-300: #0a78fa;
  --blue-400: #000;

  --white: rgb(24, 24, 24);
  --black: #000;

  --txtWhite: #fff;
  --txtBlack: #fff;

  --gray-200: #bebebe;
}

.btn__darkMode:checked ~ .darkMode header {
  background-color: var(--black);
}
.btn__darkMode:checked ~ .darkMode .container {
  background-color: var(--white);
}

.btn__darkMode:checked ~ .darkMode main {
  background-color: var(--black);
}

/*  ----- @MEDIA ----- */

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 70.3125rem;
    margin: 0 auto;
    padding: 1.875rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header {
    padding: 1.875rem 0 0;
  }

  header .col__right {
    text-align: left;
  }

  header .col img {
    max-width: 15.625rem;
    border-radius: 100%;
  }

  footer nav .info__social {
    display: flex;
    justify-content: center;
  }

  footer nav .info__social li {
    margin: 0 14px;
    display: initial;
    text-align: center;
  }

  main .col {
    padding: 0;
  }

  main .col section {
    padding: 1.25rem;
    border: 1px solid var(--blue-100);
  }
}

@media only screen and (min-width: 991px) {
  header .col__right {
    text-align: left;
    flex-basis: 70%;
  }
}
